body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("mendenhall08.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
    body {
      background-attachment: scroll;
    }
  }



header {
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: rgba(32, 34, 41, 0.801);
    color: white;
    margin-left: 10%;
    margin-top: 10%;
    border-bottom: 1px solid black;
    
}
header li {
    padding: 4%;
}
header aside {
    
}
header aside img {
    width: 150px;
    height: 200px;
    position: relative;
    top: 40%;
}



section {
    width: 80%;
}


#section-formation {
    display: grid;
    grid-template-columns: auto, 1fr;
    grid-template-rows: auto, 1fr;
    background-color: rgba(32, 34, 41, 0.801);
    color: white;
    margin-left: 10%;
}
#section-formation h2 {
    grid-column: 1 / span 2;
    grid-row: 1;
}
#section-formation ul {
    grid-column: 1;
    grid-row: 2;
}
#section-formation ul li {
    padding: 3%;
}
#aside-formation {
    padding-top: 1%;
    grid-column: 2;
    grid-row: 2;
}
#aside-formation p {
    padding-bottom: 0.5%;
}


#section-experience {
    display: grid;
    grid-template-columns: auto, 1fr;
    grid-template-rows: auto, 1fr;
    background-color: rgba(32, 34, 41, 0.801);
    color: white;
    margin-left: 10%;
    border-top: 1px solid black;
}
#section-experience h2 {
    grid-column: 1 / span 2;
    grid-row: 1;
}
#section-experience ul {
    grid-column: 1;
    grid-row: 2;
}
#section-experience ul li {
    padding: 3%;
}
#aside-experience {
    padding-top: 1%;
    grid-column: 2;
    grid-row: 2;
}
#aside-experience p {
    padding-bottom: 1%;
}


#section-langues {
    display: grid;
    grid-template-columns: auto, 1fr;
    grid-template-rows: auto, 1fr;
    background-color: rgba(32, 34, 41, 0.801);
    color: white;
    margin-left: 10%;
    border-top: 1px solid black;
}
#section-langues h2 {
    grid-column: 1 / span 2;
    grid-row: 1;
}
#section-langues ul {
    grid-column: 1;
    grid-row: 2;
}
#section-langues ul li {
    padding: 3%;
}
#aside-langues {
    grid-column: 2;
    grid-row: 2;
}


#section-autres {
    display: grid;
    grid-template-columns: auto, 1fr;
    grid-template-rows: auto, 1fr;
    background-color: rgba(32, 34, 41, 0.801);
    color: white;
    margin-left: 10%;
    border-top: 1px solid black;
    margin-bottom: 10%;
}
#section-autres h2 {
    grid-column: 1 / span 2;
    grid-row: 1;
}
#section-autres ul {
    grid-column: 1;
    grid-row: 2;
}
#aside-autres {
    grid-column: 2;
    grid-row: 2;
}

